.DS_Store
node_modules
/build
/.svelte-kit
/package
/dist
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*.json
.env
.env.*
!.env.example
.dev.vars
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sentry Auth Token
.sentryclirc
